logo{
    float: none;
    padding-top: 5px;
    border-bottom-width: 5px;
    border-top-width: 5px;
}
#section-row {
    display: flex;
    height: 100px;
    padding-top: 100px;
}
body {
    height: 100%;
    width: 100%;
    font-family: 'Courier New', monospace;
    background-size: repeat;
    color: black;
    font-weight: bold;
  }
section {
    float: center;
    display: block;
    margin: 5%;
    border-width: 2px;
    border-color: black;
    background-color: rgba(241, 231, 254, 0.623);
    border-style: solid;
  }

p {
    margin: 5px;
    padding-bottom: 5px;
  }
h1 {
      font-size: 3em;
  }
h2 {
    margin-left: 10px;
  }
a {
    color: blue;
  }
